[settings]

# Copy or move this file into ~/.i_like_pandora.config (your home folder). Lines that start with a # are ignored as comments.

# Your username can be found by clicking "Your Profile" from http://pandora.com. You will be taken to a URL containing your username: http://pandora.com/people/<username>
username: my_username

# This is the folder your music will be downloaded to. It will not be created for you.
download_folder: /home/user/pandora_music

# On OSX this should likely be set to False, on Ubuntu, set True. Read the README for more information.
notifications: True

# This is the default icon used for notifications if a thumbnail is unable to be fetched (which would be unusual).
default_icon: /usr/share/icons/gnome/48x48/mimetypes/gnome-mime-application-x-shockwave-flash.png

# The following is the path to the youtube-dl executable.
youtube-dl: /usr/bin/youtube-dl
